<div class="containerr">
    <div class="content_table">
        <table>
            <thead>
                <tr>
                    <td>{{date}}</td>
                    <td>{{orderid}}</td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{Quantitiy}}</td>
                    <td>{{Total}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
                <tr>
                    <th class="date_1">{{date1 | date:'longDate'}}</th>
                    <th class="order_1">{{orderid1}}</th>
                    <th class="name_1">{{name1}}</th>
                    <th class="price_1">{{price1}}</th>
                    <th class="quantyi_1">{{quantiy1 }}</th>
                    <th class="totals_1">{{total1 | currency:'USD'}}</th>
                </tr>
            </tbody>



        </table>
    </div>
</div>
<!-- <ul>
    <li *ngFor=" let coders of coder">
        {{coders.Name}}
    </li>
</ul> -->