@import '~bootstrap/dist/css/bootstrap.min.css';
:root {
    --light-brand-gray: #b3b3b3;
    --light-brand-orange: #ffa116;
    --light-brand-black: #000;
    --light-brand-white: #fff;
    --light-special-rose: #ff6863;
    --light-special-sunny: #f1bc00;
    --light-special-kiwi: #0de84b;
    --light-special-skyler: #1ba3ff;
    --light-special-lavender: #7731ff;
    --light-yellow-10: #fffce6;
    --light-yellow-20: #fff1a3;
    --light-yellow-30: #ffe77a;
    --light-yellow-40: #ffd952;
    --light-yellow-50: #ffc929;
    --light-yellow-60: #ffb800;
    --light-yellow-70: #edab00;
    --light-yellow-80: #e19500;
    --light-yellow-90: #c97b00;
    --light-yellow-100: #b46e00;
    --light-green-10: #e8ffe9;
    --light-green-20: #aff0b4;
    --light-green-30: #7be187;
    --light-green-40: #4dd161;
    --light-green-50: #24c241;
    --light-green-60: #01b328;
    --light-green-70: #019927;
    --light-green-80: #008024;
    --light-green-90: #006620;
    --light-green-100: #004d1b;
    --light-teal-10: #e8fffb;
    --light-teal-20: #bcf6ee;
    --light-teal-30: #92ede4;
    --light-teal-40: #47dad5;
    --light-teal-50: #26d1d1;
    --light-teal-60: #1cb8b8;
    --light-teal-70: #10a1a1;
    --light-teal-80: #0e7b7b;
    --light-teal-90: #106969;
    --light-teal-100: #0a5656;
    --light-blue-10: #e8f7ff;
    --light-blue-20: #bae4ff;
    --light-blue-30: #8bcfff;
    --light-blue-40: #5db6ff;
    --light-blue-50: #2e9aff;
    --light-blue-60: #007aff;
    --light-blue-70: #0069e8;
    --light-blue-80: #005bda;
    --light-blue-90: #004ebb;
    --light-blue-100: #003d9f;
    --light-red-10: #ffece8;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #85828211;
    // background-color: #b3b3b3;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    vertical-align: middle;
    max-height: 60px;
    align-items: center;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none
}

header nav ul {
    display: flex;
    padding: 10px;
    margin: 10px;
}

header nav ul li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var( --font-family2);
}

ul .store {
    color: #f1bc00;
}

header nav button {
    color: #e19500;
    background-color: #ffe77a;
    border-radius: 10px;
    padding: 10px 8px 10px 8px;
    border: none;
    max-width: 100px;
    max-height: 40px;
    text-align: center;
    font-family: var( --font-family2);
}

// Section start
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form .content-element {
    background-color: #fff;
    width: 400px;
    padding: 15px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-form {
    margin-top: 40px;
}

form input {
    width: 350px;
    padding: 4px;
    border-color: #263238;
    border: 1px solid;
    outline: #263238;
    margin: 10px;
}

.form_button {
    margin-top: 30px;
    text-align: center;
}

.form_button button {
    background-color: #263238;
    color: #fff;
    width: 90%;
    padding: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form_span {
    margin: 10px;
}

.form_span2 {
    margin: 10px;
}

.form_icon {
    margin: 10px;
}

.form_icon mat-icon {
    margin: 5px;
}

.form_icon mat-icon:hover {
    color: red;
    cursor: pointer;
}