<div class="container">
    <div class="content">
        <div class="calcuator">
            <h1>Calculator</h1>
            <form action="">
                <input type="text" id="text">
                <div class="calculatorelements">
                    <div class="flexcontent">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="7">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="8">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="9">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="*"></div>
                    <div class="flexcontent">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="4">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="5">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="6">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="-"></div>
                    <div class="flexcontent">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="1">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="2">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="3">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value="+"></div>
                    <div class="flexcontent">
                        <input onclick="document.getElementById('text').value+=this.value" id="null" type="button" value="0">
                        <input onclick="document.getElementById('text').value+=this.value" id="button" type="button" value=".">
                        <input onclick="document.getElementById('text').value= eval(document.getElementById('text').value)" id="button" type="button" value="=">
                        <input onclick="document.getElementById('text').value=''" id="button" type="button" value="C"></div>
                </div>
            </form>
        </div>
    </div>
</div>