<div class="containerr">
    <div class="sectioncontent">
        <div class="contenheadernavsection">
            <header>
                <nav>
                    <h1>FilmKing</h1>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Movies</a>
                        </li>
                        <li>
                            <a href="#">Series</a>
                        </li>
                        <li>
                            <a href="#">Mylist</a>
                        </li>
                    </ul>
                    <div class="content-span">
                        <mat-icon aria-hidden="true" aria-label="Example search icon" fontIcon="search"> </mat-icon>
                        <mat-icon aria-hidden="true" aria-label="Example notification_add icon" fontIcon="notification_add"> </mat-icon>
                        <mat-icon aria-hidden="true" aria-label="Example language icon" fontIcon="language"> </mat-icon>

                        <select name="" id="">
                            <option value="name">
                                <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_down icon" fontIcon="keyboard_arrow_down"></mat-icon>
                            
                            </option>  
                            <option value="name">Russia</option>
                            <option value="">English</option>
                            <option value="button">O'zbek</option>
                        </select>


                    </div>


                </nav>
            </header>
            <main>
                <section>
                    <div class="contenttext">
                        <div class="button">
                            <button mat-raised-button color="warn">Top</button>
                        </div>
                    </div>
                    <div class="contenttitle">
                        <h1>Transformers man no way home</h1>
                    </div>
                    <div class="contenttex">
                        <p>Lorem ipsum Lorem ipsum dolor sit amet consectetur. dolor optio errorsci in, voluptatem autem corporis eligendi delectus doloremque.</p>
                    </div>
                    <div class="contenttext">
                        <p>2023 | <span>16+</span> | Seans | TV series for teenagers</p>
                    </div>
                    <div class="contenttexticonsss">

                        <mat-icon aria-hidden="true" aria-label="Example grade icon" fontIcon="grade"> </mat-icon>
                        <p><span id="textid">5.8</span> Seans<span>1</span>-Episode <span>1</span>-Genre <span>comedy , detective,detective</span></p>

                    </div>
                    <div class="contenttextendbutton">
                        <button mat-raised-button color="warn"><mat-icon aria-hidden="true" aria-label="Example arrow_right icon" fontIcon="arrow_right"></mat-icon>Watch</button>
                    </div>
                </section>
            </main>
        </div>

    </div>
    <div class="contentcaruselflexbutton">
        <div class="buttondiv">

            <button mat-flat-button color="warn">Action</button>

            <button mat-flat-button color="warn">Comedy</button>
            <button mat-flat-button color="warn">Adventure</button>
            <button mat-flat-button color="warn">Drama</button>
            <button mat-flat-button color="warn">Animation</button>
            <button mat-flat-button color="warn">Fantasy</button>
            <button mat-flat-button color="warn">Family</button>
            <button mat-flat-button color="warn">Harror </button>


        </div>

    </div>
    <div class="contenttitlee">

        <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon" fontIcon="keyboard_arrow_right"></mat-icon>
        <h1> Recomended</h1>
    </div>

    <div class="contentcaurseldiv">

        <div class="contentcarusel">
            <img src="https://i.pinimg.com/originals/a7/fa/0c/a7fa0cc4ca862fbb6f3ccd637dd7f964.jpg" alt="photo error!">
        </div>
        <div class="contentcarusel">
            <img src="https://i.pinimg.com/originals/45/21/3f/45213fda336f74be609d3364704586a7.jpg" alt="photo error!">
        </div>
        <div class="contentcarusel">
            <img src="https://www.gamesrig.com/img/screenshots/total-war--medieval-ii-–-definitive-edition-1711202305400.jpg" alt="photo error!">
        </div>
        <div class="contentcarusel">
            <img src="https://dotesports.com/wp-content/uploads/2021/06/18174344/csgo-main-image-scaled.jpg" alt="photo error!">
        </div>
        <div class="contentcarusel">
            <img src="http://uzbek-tilida.ru/_ld/1/83593281.jpg" alt="photo error!">
        </div>
        <div class="contentcarusel">
            <img src="https://wallpapercave.com/wp/wp11874975.jpg" alt="photo error!">
        </div>
    </div>

</div>