* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_boxx {
    margin-top: 160px;
    width: 250px;
    height: 50px;
    margin-left: 100px;
    // background-color: rgb(204, 202, 202);
    border-radius: 10px;
}

.content_button button {
    margin-top: 5px;
    padding: 10px;
    margin-left: 70px;
}

.content_input {
    padding: 10px;
    width: 250px;
    border: 4px solid #5298B1;
    position: relative;
    z-index: 19;
    left: 100px;
    bottom: 94px;
    height: 40px;
}

.content_input input {
    outline: none;
    border: none;
    width: 120px;
    margin-bottom: 10px;
}